@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles from sample HTML */
.filter-container {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 5px;
}
::-webkit-scrollbar {
    height: 5px;
}
svg {
    height: 40vh;
    margin: auto;
    display: block;
    margin-top: -40px;
}
path {
    stroke-linecap: round;
    stroke-width: 6;
}
path.grey {
    stroke: #e7e7e8;
}
path.blue {
    stroke: url(#gradient);
    stroke-dasharray: 198;
    stroke-dashoffset: 198;
    animation: dash 3s ease-out forwards;
}
#result-container .column {
    padding-top: 0;
    padding-bottom: 0;
}
.status:after {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    margin-top: -3.5px;
}
.is-open .status:after {
    background: #48c78e;
}
.is-closed .status:after {
    background: #f14668;
}
.is-failed .status:after {
    background: #ffe08a;
}
.is-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
    font-size: 120%;
}
@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: rgba(255,255,255,1);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow: .25em 0 0 rgba(255,255,255,1), .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 rgba(255,255,255,1), .5em 0 0 rgba(255,255,255,1);
    }
}
